<h2 class="page-header">New Book</h2>
<form action="/books" method="POST">
    <%- include('../books/form_field.ejs') %> 
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/books">Cancel</a>
        <button class="btn btn-danger" type="submit">Creat</button>
    </div>
</form>