<h2 class="page-header">New Book</h2>
<form action="/books" method="POST">
    <%- include('../books/form_field.ejs') %> 
    <a href="/books">Cancel</a>
    <button type="submit">Creat</button>
</form>