<h2 class="page-header" >Recently Added</h2>
<br><hr><br>

<div>
    <% books.forEach(book=>{ %>
    <a href="/books/<%= book.id %> ">
      <img src="<%= book.coverImagePath %>" alt="" width="100" height="150">
    </a>
    <% }) %>  
</div>
  