<header>
    <nav class="header-nav">
        <a class="header-title" href="/">My Library</a>
        <ul>
            <li class="nav-link"><a href="/authors">Authors </a></li>
            <li class="nav-link"><a href="/authors/new">Add Author </a></li>
            <li class="nav-link"><a href="/books">Books </a></li>
            <li class="nav-link"><a href="/books/new">Add Book</a></li>
        </ul>
    </nav>
</header>