<h2 class="page-header">New Author</h2>


<form action="/authors/new" method="POST">
    <%- include('../authors/_form_field.ejs') %> 
    
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/authors">Cancel</a>
        <button class="btn btn-primary" type="submit">Creat</button>
    </div>
</form>